body {
    background-image:url(img/bg0.jpg);
    background-repeat:no-repeat;

}

#contain{
    margin-top: 15%;
    text-align: center;
    width: 918px;
    height: auto;
    text-align: center;
}

h3{
    font-size: 70px;
    color: white;
    margin-bottom: 0;
    cursor: pointer;
}

a {
    text-decoration:none;
}

h2{
    color: black;
    -webkit-transition: font-size 0.2s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.2s;
    position: fixed;
    margin-bottom: 20px;
    margin-left: 25%;
}

h2:hover {
    font-size: 30px;

    
}

p {
    display: none;
}