body {
    background-image:url(img/bg2.jpg);
    background-repeat:no-repeat;
    background-size: 900px 600px;
}

#contain{
    margin-top: 10%;
    width: 288px;
    margin-left: 5%;
}

p{
    font-style: italic;
}

h1{
    color: black;
    text-align: right;
    margin-right: 50%;
    margin-top: 10%;
}

a {
    text-decoration:none;
}
