body {
    background-image:url(img/bg2.jpg);
    background-repeat:no-repeat;
    background-size: 900px 600px;
}

#contain{
    margin-top: 10%;
    width: 288px;
    margin-left: 5%;
}

p{
    font-style: italic;
}

h1{
    color: black;
    text-align: right;
    margin-right: 50%;
    margin-top: 10%;
    -webkit-transition: font-size 0.2s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.2s;
}

h1:hover {
    font-size: 40px;
}


a {
    text-decoration:none;
}
