body {
    background-image: url(http://d2v8ggac1o0f6z.cloudfront.net/gsc/O0J97S/ea/80/90/ea80903d710f4b5bb25e286fb230a9c3/images/page_2/u0.jpg?token=8bf3d8a1a2e4a54dd83e0b1aa7a37985);
    background-repeat:no-repeat;
    background-size: 900px 600px;
}

#contain{
    margin-top: 10%;
    width: 288px;
    margin-left: 5%;
}

p{
    font-style: italic;
}

h1{
    color: black;
    text-align: right;
    margin-right: 50%;
    margin-top: 10%;
}

a {
    text-decoration:none;
}
